:root {
  --primary-bg-color: #1e1e1e;
  --primary-color: ##f0f0f0;
  --border: #444444;
  --slot: #cfd6e0;
  --slot-border: #7e7a7abc;
  --slot-hover: #131313;
}
.clickable{
  cursor: pointer;
  transition: transform .1s ease-in-out;

}
.clickable:hover{
  transform: scale(1.1);
}
.clickable:active{
  transform: scale(0.9);
}
body {
  margin: 0;
  font-family: 'Pixelify Sans', sans-serif !important;
}

#ui {
  user-select: none;
  z-index: 2;
  width: 100vw;
  height: 100vh; /* IMPORTANT */
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
}

#inventory {
  position: fixed;
  display:flex;
  justify-content: space-evenly;
  bottom: 5px;
  width: fit-content;
  height: 6vh;
 
}
.slot {
  aspect-ratio: 1/1;
  width: 5dvh;
  margin:.1vh;
  height:5dvh;
  color:white;
  text-align:center;
  vertical-align: middle;
  background: var(--slot);
  border: .4vh solid var(--slot-border);
  box-sizing: border-box;
  border-radius:2px;
}

