:root {
  --primary-bg-color: #1e1e1ef7;
  --primary-color: #f0f0f0;
  --secondary-bg-color: #212332;
  --border: #444444;
  --slot: #5a6060;
  --slot-border: #111111bc;
  --slot-hover: #fff;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: #4c4c4c;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track {
  background: #00000055;
}
.clickable {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.clickable:hover {
  transform: scale(1.1);
}
.clickable:active {
  transform: scale(0.9);
}
body {
  margin: 0;
  font-family: "Pixelify Sans", sans-serif !important;
  scrollbar-width: 2px !important;
}
#enterGameButtonLoadingScreenWrapper {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#ui {
  user-select: none;
  position: fixed;
  z-index: 1;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.btn {
  border-radius: 0px !important;
  transition: transform 0.15s ease-in-out;
}
.btn:hover {
  transform: scale(1.1);
}
.btn:active {
  transform: scale(0.95);
}
#hotbar {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  bottom: 5px;
  width: fit-content;
  margin-bottom: 1dvh;
  height: 7vh;
  left: 50%;
  transform: translateX(-50%);
}
#mainMenuWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2 {
  font-size: 3dvh !important;
}
li {
  font-size: 2.1dvh !important;
}
ul {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  list-style-position: outside;
}
#mainMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  width: 100.1%;
  height: 100.1%;
  z-index: 90;
  background: RGB(171, 171, 255);
  background: radial-gradient(
    circle,
    rgba(171, 171, 255, 1) 0%,
    rgba(103, 103, 145, 1) 100%
  );
}
#credits {
  text-align: center;
  overflow: auto !important;
  position: absolute;
  top: 50%;
  color: var(--primary-color);
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  background-color: var(--primary-bg-color);
  z-index: 92;
  width: 75%;
  height: 75%;
  box-sizing: border-box;

  overflow-y: auto !important;
}

#settings {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr;

  text-align: center;

  position: absolute;
  top: 50%;
  color: var(--primary-color);
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  background-color: var(--primary-bg-color);
  z-index: 92;
  width: 75%;
  height: 75%;
}
#settingsNav {
  grid-area: menu;
  align-content: center;

  background-color: rgb(44, 43, 43);
  color: white;
}
.settingsNavItem {
  align-self: center;
  margin: 1dvh auto 1dvh auto;
  width: 100%;
  font-size: 4dvh;
  text-align: left;
  padding: 1dvh;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s;
}
.settingsNavItem:hover {
  color: rgb(245, 245, 69);
  background: rgba(252, 255, 171, 0.1);
  background: linear-gradient(
    90deg,
    rgba(254, 243, 169, 0.1) 0%,
    rgba(254, 243, 169, 0.1) 97%,
    rgba(196, 183, 139, 1) 97%,
    rgba(196, 183, 139, 1) 100%
  );
}
.settingsNavItemSelected {
  color: rgb(245, 245, 69);
  background: rgba(252, 255, 171, 0.1);
  background: linear-gradient(
    90deg,
    rgba(254, 243, 169, 0.1) 0%,
    rgba(254, 243, 169, 0.1) 97%,
    rgba(196, 183, 139, 1) 97%,
    rgba(196, 183, 139, 1) 100%
  );
}
#settingsBody {
  grid-area: content;
  z-index: 198;
}
.settingsBodyContent {
  top: 0;
  left: 0;
  width: inherit;
  height: 100%;
}
#woldSelectButton {
  width: fit-content !important;
}
#worldSelect {
  text-align: center;

  position: absolute;
  top: 50%;
  color: var(--primary-color);
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  background-color: var(--primary-bg-color);
  z-index: 92;
  width: 75%;
  height: 75%;
  box-sizing: border-box;

  overflow-y: auto;
  max-height: 90vh;
}
input {
  font-size: 1.8dvh;
  user-select: text;
}
label {
  font-size: 1.9dvh;
}
label.larger-font {
  font-size: 2.5dvh;
}
::placeholder {
  color: white !important;
  opacity: 0.5 !important;
}
#worldCreate {
  text-align: center;

  position: absolute;
  top: 50%;
  color: var(--primary-color);
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  background-color: var(--primary-bg-color);
  z-index: 92;
  width: 75%;
  height: 75%;
  box-sizing: border-box;

  overflow-y: auto;
  max-height: 90vh;
}
@keyframes popOpen {
  0% {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(0);
  }
  70% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes popCloseHide {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  99% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    pointer-events: none;
  }
}
.popAnim {
  animation-name: popOpen;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  pointer-events: auto;
}
.popCloseHide {
  animation-name: popCloseHide;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  pointer-events: none;
}
.mainMenuButton {
  margin: 5px 0.7dvh 5px 0.7dvh !important;
  font-size: 4dvh !important;
  border-radius: 1px !important;
  padding: 0.95dvh 1.95dvh 0.95dvh 1.95dvh !important;
}

.slot {
  aspect-ratio: 1/1;
  width: 7dvh;
  margin: 0.1vh;
  height: 7dvh;

  color: white;
  text-align: center;
  vertical-align: middle;
  background: var(--slot);
  border: 0.5vh solid var(--slot-border);
  box-sizing: border-box;
  transform: scale(1);
  transition: transform 0.15s;
}
.slotHover {
  border-color: var(--slot-hover) !important;
  transform: scale(1.025);
}
.hotbarSlotImg {
  aspect-ratio: 1;
  position: absolute;
  width: 4.5dvh;
  height: 4.5dvh;
  image-rendering: pixelated;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hotbarSlotAmt {
  position: fixed;
  top: -0.7dvh;
  right: 0.4dvh;
  font-size: 2.7dvh;
  font-weight: 900;
  z-index: 5;
  -webkit-text-stroke: black 0.07dvh;
}
#popup,
#credits,
#settings,
#worldSelect,
#worldCreate {
  transform-origin: center center;
}
#popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-bg-color);
  width: fit-content;
  min-width: 50%;
  min-height: 30dvh;
  height: fit-content;
  text-align: center;

  color: white;

  z-index: 203;
}
#popupTitle {
  font-weight: bold;
  margin-top: 1px;
  font-size: 6dvh !important;

  background-color: #2f2f2f;
}
#popupContent {
  margin-top: 1px;
  font-weight: 500;
  font-size: 2.5dvh;
}
#backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 91;
}
#errorBackdrop {
  position: fixed;
  pointer-events: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 202;
}

#errorBackdrop.hidden {
  top: -499%;
  left: -167%;
  z-index: -1;
  width: 0%;
  height: 0dvh;
  opacity: 0;
  pointer-events: none;
}

#popupClose {
  aspect-ratio: 1;
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 0px !important;
}

.closeButton {
  aspect-ratio: 1/1 !important;
  position: fixed;
  top: 10px;
  right: 10px;
}
@keyframes loadingScreenChangeColor {
  0% {
    background: #3c4154;
    background: radial-gradient(
      circle,
      rgba(60, 65, 84, 1) 0%,
      rgba(46, 46, 54, 1) 100%
    );
  }
  100% {
    background: #8891a8;
    background: radial-gradient(
      circle,
      rgba(136, 145, 168, 1) 0%,
      rgba(68, 71, 87, 1) 100%
    );
  }
}
.loadingScreenChangeColor {
  animation-name: loadingScreenChangeColor;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
#loadingScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100.1%;
  height: 100.1dvh;
  z-index: 999;
  background: #3c4154;
  background: radial-gradient(
    circle,
    rgba(60, 65, 84, 1) 0%,
    rgba(46, 46, 54, 1) 100%
  );
  color: whitesmoke;
  text-align: center;
  vertical-align: middle;
}

#loadingScreenWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
}
.worldSelectRow {
  background-color: #252833;
  padding: 1dvh;
  margin: 0.5dvh;
  overflow: visible !important;
}
#loadingTitle {
  font-size: 8dvh;
}
#loadingProgressWrapper {
  border-radius: 0px !important;
  border-width: 0px !important;
}
#loadingProgress {
  border-radius: 0px;
  background-color: rgb(145, 144, 255) !important;
  border-width: 0px !important;
}
.worldDesc {
  font-size: 2.1dvh;
}
.worldTitle {
  font-size: 3.25dvh;
}
.worldCreateButton {
  margin-top: 0.5dvh;
  margin-bottom: 1.5dvh;
  font-size: 2dvh !important;
}
canvas {
  scale: 1.01;
}
.blxm-bg-dark {
  background-color: #2d2c33 !important;
}
#fpsShower {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 5;
  font-size: 3dvh;
  color: white;
  -webkit-text-stroke: black 1.5px;
  font-weight: 900;
}
